2ibm_cos/flows-2_COS.json
[
    {
        "id": "42f6a4defab62184",
        "type": "tab",
        "label": "Flow_2_COS",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "44523757b51c846b",
        "type": "group",
        "z": "42f6a4defab62184",
        "name": "get data from Cloudant",
        "style": {
            "label": true,
            "label-position": "n",
            "stroke": "#a4a4a4",
            "fill": "#fafafa"
        },
        "nodes": [
            "088516d4ab349a17",
            "68b13db348a7bc4e",
            "bb2c8ec431c6428b",
            "3c895634d1fe9a70",
            "882ed205a09b1425",
            "6e33c94ed803d0cf",
            "b4a7e76eec9643e5"
        ],
        "x": 14,
        "y": 19,
        "w": 1152,
        "h": 182
    },
    {
        "id": "afdbc85fa573a2cb",
        "type": "group",
        "z": "42f6a4defab62184",
        "name": "put the bundle into COS using an Action from IBM Functions",
        "style": {
            "label": true,
            "label-position": "n",
            "stroke": "#a4a4a4",
            "fill": "#fafafa"
        },
        "nodes": [
            "d794be28bdd24530",
            "f179d07b4bfe4f48",
            "47b6d51c0dd8022b",
            "9f177e42b26be87e",
            "24b1876d3cc72e4c",
            "1d0c0e8cb6802dd6",
            "5c849380bfc6b8dc",
            "b63c21c51d55d345",
            "614b6d37a09c48dc",
            "04eb198db2e49c59",
            "f1b8cf671c94e91f",
            "ac4a1ae64a43ad42",
            "5bfee99d283125e8",
            "5225a31cec99ee3d",
            "c677b26e3b5e1021"
        ],
        "x": 14,
        "y": 219,
        "w": 1192,
        "h": 342
    },
    {
        "id": "088516d4ab349a17",
        "type": "cloudantplus in",
        "z": "42f6a4defab62184",
        "g": "44523757b51c846b",
        "name": "retrieve from cloudant",
        "cloudant": "1eb3223166e0c232",
        "database": "test_db2",
        "service": "_ext_",
        "search": "_query_",
        "design": "",
        "index": "",
        "x": 740,
        "y": 120,
        "wires": [
            [
                "6e33c94ed803d0cf",
                "882ed205a09b1425"
            ]
        ]
    },
    {
        "id": "68b13db348a7bc4e",
        "type": "inject",
        "z": "42f6a4defab62184",
        "g": "44523757b51c846b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "14400",
        "crontab": "",
        "once": true,
        "onceDelay": "30",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 210,
        "y": 120,
        "wires": [
            [
                "3c895634d1fe9a70"
            ]
        ]
    },
    {
        "id": "bb2c8ec431c6428b",
        "type": "comment",
        "z": "42f6a4defab62184",
        "g": "44523757b51c846b",
        "name": "get data from Cloudant",
        "info": "",
        "x": 140,
        "y": 60,
        "wires": []
    },
    {
        "id": "3c895634d1fe9a70",
        "type": "function",
        "z": "42f6a4defab62184",
        "g": "44523757b51c846b",
        "name": "query (get recent objects)",
        "func": "// 15 m =   900000 ms (900 s)\n//  1 h =  3600000 ms (3600 s)\n//  4 h = 14400000 ms (3600 x 4 = 14400 s)\nmsg.payload = {\n    \"selector\": {\n        \"timestamp\": {\n            \"$gt\": (Date.now() - 14400000)\n        }\n    },\n    \"sort\": [\n        {\n            \"timestamp\": \"desc\"\n        }\n    ],\n    \"limit\": 200\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 120,
        "wires": [
            [
                "088516d4ab349a17"
            ]
        ]
    },
    {
        "id": "882ed205a09b1425",
        "type": "debug",
        "z": "42f6a4defab62184",
        "g": "44523757b51c846b",
        "name": "debug retrieve",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 160,
        "wires": []
    },
    {
        "id": "d794be28bdd24530",
        "type": "http request",
        "z": "42f6a4defab62184",
        "g": "afdbc85fa573a2cb",
        "name": "request token",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://iam.cloud.ibm.com/oidc/token",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 700,
        "y": 320,
        "wires": [
            [
                "9f177e42b26be87e"
            ]
        ]
    },
    {
        "id": "f179d07b4bfe4f48",
        "type": "function",
        "z": "42f6a4defab62184",
        "g": "afdbc85fa573a2cb",
        "name": "prep body and headers",
        "func": "let key = env.get(\"COS_APIKEY\");\nmsg.payload = \"grant_type=urn:ibm:params:oauth:grant-type:apikey&apikey=\" + key;\nmsg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nmsg.headers['content-type'] = 'application/x-www-form-urlencoded';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 320,
        "wires": [
            [
                "d794be28bdd24530"
            ]
        ]
    },
    {
        "id": "47b6d51c0dd8022b",
        "type": "comment",
        "z": "42f6a4defab62184",
        "g": "afdbc85fa573a2cb",
        "name": "get the IBM Cloud token",
        "info": "",
        "x": 730,
        "y": 260,
        "wires": []
    },
    {
        "id": "9f177e42b26be87e",
        "type": "json",
        "z": "42f6a4defab62184",
        "g": "afdbc85fa573a2cb",
        "name": "token",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 950,
        "y": 320,
        "wires": [
            [
                "04eb198db2e49c59"
            ]
        ]
    },
    {
        "id": "24b1876d3cc72e4c",
        "type": "comment",
        "z": "42f6a4defab62184",
        "g": "afdbc85fa573a2cb",
        "name": "using IBM Cloud ServiceID API Key",
        "info": "",
        "x": 440,
        "y": 260,
        "wires": []
    },
    {
        "id": "6e33c94ed803d0cf",
        "type": "change",
        "z": "42f6a4defab62184",
        "g": "44523757b51c846b",
        "name": "bundle",
        "rules": [
            {
                "t": "set",
                "p": "bundle",
                "pt": "flow",
                "to": "payload.docs",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "headers",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "1d0c0e8cb6802dd6",
        "type": "complete",
        "z": "42f6a4defab62184",
        "g": "afdbc85fa573a2cb",
        "name": "[bundle] complete",
        "scope": [
            "6e33c94ed803d0cf"
        ],
        "uncaught": false,
        "x": 150,
        "y": 320,
        "wires": [
            [
                "f179d07b4bfe4f48"
            ]
        ]
    },
    {
        "id": "5c849380bfc6b8dc",
        "type": "comment",
        "z": "42f6a4defab62184",
        "g": "afdbc85fa573a2cb",
        "name": "using the token to call IBM Cloud Functions",
        "info": "",
        "x": 210,
        "y": 420,
        "wires": []
    },
    {
        "id": "b63c21c51d55d345",
        "type": "http request",
        "z": "42f6a4defab62184",
        "g": "afdbc85fa573a2cb",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "${COS_URL}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 480,
        "wires": [
            [
                "f1b8cf671c94e91f"
            ]
        ]
    },
    {
        "id": "614b6d37a09c48dc",
        "type": "debug",
        "z": "42f6a4defab62184",
        "g": "afdbc85fa573a2cb",
        "name": "debug resp msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 520,
        "wires": []
    },
    {
        "id": "04eb198db2e49c59",
        "type": "function",
        "z": "42f6a4defab62184",
        "g": "afdbc85fa573a2cb",
        "name": "prep body and headers (incl the bundle)",
        "func": "let receivedToken = msg.payload.access_token;\nmsg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nmsg.headers['authorization'] = 'Bearer' + receivedToken;\nmsg.payload = {};\nmsg.payload.body = flow.get(\"bundle\");\nlet num = Date.now();\nmsg.payload.name = num.toString() + '.json';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 480,
        "wires": [
            [
                "ac4a1ae64a43ad42",
                "b63c21c51d55d345"
            ]
        ]
    },
    {
        "id": "f1b8cf671c94e91f",
        "type": "json",
        "z": "42f6a4defab62184",
        "g": "afdbc85fa573a2cb",
        "name": "resp",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 830,
        "y": 480,
        "wires": [
            [
                "614b6d37a09c48dc",
                "5bfee99d283125e8"
            ]
        ]
    },
    {
        "id": "ac4a1ae64a43ad42",
        "type": "debug",
        "z": "42f6a4defab62184",
        "g": "afdbc85fa573a2cb",
        "name": "debug prep",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 520,
        "wires": []
    },
    {
        "id": "5bfee99d283125e8",
        "type": "change",
        "z": "42f6a4defab62184",
        "g": "afdbc85fa573a2cb",
        "name": "rst the bundle",
        "rules": [
            {
                "t": "delete",
                "p": "bundle",
                "pt": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "b4a7e76eec9643e5",
        "type": "comment",
        "z": "42f6a4defab62184",
        "g": "44523757b51c846b",
        "name": "put it in a temp bundle",
        "info": "",
        "x": 1020,
        "y": 60,
        "wires": []
    },
    {
        "id": "5225a31cec99ee3d",
        "type": "comment",
        "z": "42f6a4defab62184",
        "g": "afdbc85fa573a2cb",
        "name": "when bundle done",
        "info": "",
        "x": 130,
        "y": 260,
        "wires": []
    },
    {
        "id": "c677b26e3b5e1021",
        "type": "comment",
        "z": "42f6a4defab62184",
        "g": "afdbc85fa573a2cb",
        "name": "request the Action",
        "info": "",
        "x": 590,
        "y": 420,
        "wires": []
    },
    {
        "id": "1eb3223166e0c232",
        "type": "cloudantplus",
        "host": "${CLOUDANT_URL}",
        "name": "CloudantAPI",
        "useapikey": true
    }
]